<mat-grid-list
  [cols]="cols"
  [rowHeight]="rowHeight"
  [ngClass]="{ 'handset-portrait': handsetPortrait }"
>
  <mat-grid-tile *ngFor="let course of courses">
    <mat-card class="course-card">
      <mat-card-header>
        <mat-card-title>{{ course.description }}</mat-card-title>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
      </mat-card-header>
      <img matCardImage [src]="course.iconUrl" />
      <mat-card-content>
        <p>{{ course.longDescription }}</p>
      </mat-card-content>
      <mat-card-actions align="start" class="course-actions">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['courses', course.id]"
        >
          View Course
        </button>
        <button mat-raised-button (click)="editCourse(course)" color="accent">
          Edit Course
        </button>
      </mat-card-actions>
      <!-- <mat-card-footer> Footer </mat-card-footer> -->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
